* {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}

body {
    font-family: Verdana, sans-serif;
    border: 2px solid rgb(224, 224, 224);
    margin: 50px 20px;
}

header {
    padding: 45px;
}

.barra_nav {
    display: flex;
    justify-content: space-between;
    align-items: baseline;
}

.titulo {
    font-size: 28px;
    margin-left: 20px;
    color: rgba(0, 0, 0, 0.87);
}

.p-azul {
    color: #206DEB;
}

.links_nav a {
    margin: 0 20px;
    text-decoration: none;
    color: rgba(0, 0, 0, 0.815);
}

.boton {
    background-color: #206DEB;
    color: white;
    padding: 15px 30px;
    border: none;
    border-radius: 8px;
    font-size: 16px;
    font-weight: bold;
    cursor: pointer;
    transition: transform 0.3s ease;
    margin: 0 15px;
}

.boton:hover {
    transform: scale(1.1);
}

.contenedor {
    display: flex;
    background-color: #F4F7FE;
}

.div_principal {
    padding: 60px;
    margin-top: 30px;
    display: flex;
    flex-direction: column;
    gap: 45px;
}

.titulo2 {
    margin-top: 40px;
    font-size: 50px;
    color: rgba(0, 0, 0, 0.87);
}

.div_principal p {
    color: rgba(0, 0, 0, 0.87);
}

.boton2 {
    background-color: #206DEB;
    color: white;
    padding: 20px 35px;
    border: none;
    border-radius: 8px;
    font-size: 16px;
    cursor: pointer;
    transition: transform 0.3s ease;
    font-weight: bold;
}

.boton2:hover {
    transform: scale(1.1);
}

.div a {
    text-decoration: none;
    color: #206DEB;
    font-weight: bold;
    margin: 0 25px;
}

.imagen {
    margin-top: 80px;
}

.img {
    width: 550px;
    height: 450px;
    margin: 0 0 80px 130px;
    border-radius: 20px;
}

.contenedor2 {
    padding: 80px;
}

.div_titulo {
    display: flex;
    justify-content: center;
}

.titulo3 {
    font-size: 35px;
    color: rgba(0, 0, 0, 0.877);
}

.div2 {
    display: flex;
    justify-content: space-between;
}

.cont_imagenes {
    display: flex;
    align-items: center;
    flex-direction: column;
    gap: 20px;
    width: 240px;
    margin-top: 50px;
}

.tit_imagen {
    color: rgba(0, 0, 0, 0.897);
}

.imagen1 {
    display: flex;
    width: 100px;
    height: 100px;
}

.imagen2 {
    display: flex;
    width: 100px;
    height: 100px;
}

.imagen3 {
    display: flex;
    width: 100px;
    height: 100px;
}

.parrafo {
    display: flex;
    font-size: 17px;
    color: #58616D;
    text-align: center;
}

.contenedor3 {
    padding: 50px;
    margin: 0 40px 60px 40px;
    background-color: #F4F7FE;
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 25px;
    border-radius: 25px;
}

.contenedor3 h2 {
    font-size: 30px;
    color: rgba(0, 0, 0, 0.897);
}

.contenedor3 p {
    font-size: 20px;
    color: #3f464e;
}

.barra_footer {
    padding: 40px;
    background-color: #F4F7FE;
}

.superior {
    display: flex;
    justify-content: space-between;
}

.barra_footer a {
    margin: 0 40px;
}

.derechos {
    margin: 20px 20px 10px;
    color: #777F8C;
}